
# Execute syntax and phpunit tests
if [ -f vendor/appventus/hooks/appventus.pre-commit.tester ]; then
  php vendor/appventus/hooks/appventus.pre-commit.tester
  if [ $? == "0" ] ; then
    exit 0
  else
    exit 1
  fi

fi

